<div class="container">
    <div class="row m-5 text-center ">
        <div class="col-12 justify-content-center">
            <div class="row  card shadow">
                <div class="col-12 mt-5">
                    <h1>LEADER BOARD</h1>
                </div>
                <div class="col-12">
                    <table class="table table-stripped mt-3">
                        <caption></caption>
                        <thead>
                            <tr>
                                <th class="text-center h3">#</th>
                                <th class="text-center h3">Startup</th>
                                <th class="text-center h3">Likes</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr *ngFor="let entry of leaderboardEntry; let i = index;">
                                <td class="text-center">
                                  <strong>{{i+1}}</strong>
                                </td>
                                <td class="text-center"><strong>{{entry.startup | uppercase}}</strong></td>
                                <td class="text-center">
                                    <strong>{{entry.likes}}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
