<div class="contianer-fluid">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-lg-2 text-center text-lg-left">
            <img src="../../../assets/images/ieee-cs-ks.png" alt="logo" style="height: 200px; width: 200px;" class="rounded-circle">
        </div>
        <div class="col-12 col-lg-10 text-center text-lg-left">
            <div class="row">
                <div class="col-12">
                    <h3>AKCSSC EXPO</h3>
                </div>
                <div class="col-12">
                    <h6>Admin Panel</h6>
                </div>
            </div>
        </div>
    </div>
    <div>
        <tabset>
            <tab heading="Uploads">
                <app-posts></app-posts>
            </tab>
            <tab heading="Manage Categories">
                <app-category></app-category>
            </tab>
        </tabset>
    </div>
</div>