<div class="container-fluid">
    <!-- modal open for create post -->
    <div class="row justify-content-center justify-content-lg-end mt-5">
        <div class="col-12 col-md-4 text-center">
            <button class="btn btn-lg btn-success" (click)="openModal()">
        ADD NEW Category
      </button>
        </div>
    </div>

    <table class="table table-stripped mt-3">
        <caption></caption>
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th class="text-center">Category</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of categories; let i = index">
                <td class="text-center">
                    {{ i + 1 }}
                </td>
                <td class="text-center">{{ category.category }}</td>
                <td class="text-center">
                    <i class="uil uil-trash text-danger mx-1" (click)="deleteCategory(category._id)"></i>
                    <i class="uil uil-edit-alt text-primary mx-1" (click)="openUpdateModal(category)"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>